@import url('https://fonts.googleapis.com/css?family=Lora');

* {
  margin: 0;
  padding: 0;
  font-family: 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  cursor: default;
}

body{
  height: 100%;
}
